Repository Dicklesworthstone/rich_rust: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Sync beads
  .beads/issues.jsonl
Due: none

bd-2j95: align Rust syntax/markdown ANSI with Python fixtures
  FEATURE_PARITY.md
  src/renderables/syntax.rs
  tests/conformance/fixtures/python_rich.json
  tests/conformance/python_reference/generate_fixtures.py
Due: unit, integration

bd-3r3a: clamp interactive max_length zero to one
  .beads/issues.jsonl
  src/interactive.rs
Due: unit

fix(table): prevent wide-char overflow in narrow fixed-width columns (bd-2z9p)
  .beads/issues.jsonl
  src/renderables/table.rs
Due: unit

bd-3axz: preserve Tree label spans during newline sanitization
  .beads/issues.jsonl
  src/renderables/tree.rs
Due: unit

docs: update AGENTS.md with latest multi-agent conventions
  AGENTS.md
Due: none

chore: bump version to 0.2.0 for release
  Cargo.lock
  Cargo.toml
Due: none

chore(robot): add scripts catalog files
  scripts/robot/README.md
  scripts/robot/manifest.json
Due: none

fix: remove nightly-only feature gate, bump to 0.2.1
  .beads/issues.jsonl
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: unit

Upgrade dependencies: bitflags, fancy-regex, time, proptest, and others
  Cargo.lock
  Cargo.toml
Due: none

docs: update README license references to MIT + OpenAI/Anthropic Rider
  README.md
Due: none

docs: rebuild CHANGELOG.md from git history with live commit links
  CHANGELOG.md
Due: none

chore: remove CI status badges (GH Actions throttle makes them misleading)
  README.md
Due: none

chore(asserts): use debug_assert_eq! for byte-level invariants in ansi/markdown parsers
  src/ansi.rs
  src/console.rs
  src/renderables/columns.rs
  src/renderables/markdown.rs
Due: unit

fix(deps): exclude time 0.3.48 (coherence-breaking modifier! macro) and release 0.2.2
  Cargo.lock
  Cargo.toml
Due: none

deps: unpin time (upstream coherence fix shipped), fancy-regex 0.17 -> 0.18
  Cargo.lock
  Cargo.toml
Due: none

fix(deps): relax time bound to 0.3.55 (coherence bug fixed upstream)
  Cargo.lock
  Cargo.toml
  src/logging.rs
Due: unit

chore(build): enable parallel rustc front-end (-Z threads=4)
  .cargo/config.toml
Due: none

chore(deps): bump lru 0.16 → 0.18 and collapse dual hashbrown pins
  Cargo.lock
  Cargo.toml
Due: none

fix(lints): resolve new nightly clippy lints across test asserts
  src/box.rs
  src/cells.rs
  src/console.rs
  src/highlighter.rs
  src/live.rs
  src/logging.rs
  src/markup/mod.rs
  src/renderables/columns.rs
  src/renderables/group.rs
  src/renderables/layout.rs
  src/renderables/panel.rs
  src/renderables/pretty.rs
  src/renderables/progress.rs
  src/renderables/rule.rs
  src/renderables/traceback.rs
  src/renderables/tree.rs
  src/segment.rs
  src/style.rs
  src/terminal.rs
  src/text.rs
  src/theme.rs
Due: unit

chore(release): bump rich_rust 0.2.2 to 0.2.3
  Cargo.lock
  Cargo.toml
Due: none

docs(agents): require OpenAI File Downloader user-agent on curl/web fetches
  AGENTS.md
Due: none

chore(toolchain): pin rust toolchain to dated nightly
  rust-toolchain.toml
Due: none

chore(toolchain): pin nightly-2026-08-25
  rust-toolchain.toml
Due: none

chore(toolchain): pin nightly-2026-08-31
  rust-toolchain.toml
Due: none

chore(gitignore): ignore br write locks under .beads
  .beads/.gitignore
Due: none

chore(beads): add trailing newline to metadata.json
  .beads/metadata.json
Due: none

style: pretty-print python_rich conformance fixture
  tests/conformance/fixtures/python_rich.json
Due: integration

docs(agents): synchronize suite-wide rules and canonical multi-agent conventions
  AGENTS.md
Due: none

Path conditions:
  unit: any of: src/, but not: **/*.snap, tests/common/**, benches/**, examples/**
  integration: any of: tests/, but not: **/*.snap, tests/common/**, benches/**, examples/**
