Repository Dicklesworthstone/rich_rust: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

chore: add coverage report script
  .beads/issues.jsonl
  scripts/coverage-report.sh
Due: none

feat(rich_rust): enhance console, logging, traceback, and add property tests
  .beads/issues.jsonl
  src/console.rs
  src/filesize.rs
  src/live.rs
  src/logging.rs
  src/renderables/layout.rs
  src/renderables/table.rs
  src/renderables/traceback.rs
  src/theme.rs
  tests/common/platform.rs
  tests/common/validation.rs
  tests/property_tests.rs
Due: unit, integration

feat(rich_rust): add sync module RFC and enhance traceback rendering
  .beads/issues.jsonl
  src/lib.rs
  src/renderables/traceback.rs
  src/sync.rs
  tests/property_tests.rs
Due: unit, integration

feat(rich_rust): interactive mode improvements
  .beads/issues.jsonl
  src/interactive.rs
Due: unit

feat(rich_rust): comprehensive rendering and display improvements
  .beads/issues.jsonl
  src/cells.rs
  src/color.rs
  src/interactive.rs
  src/live.rs
  src/logging.rs
  src/style.rs
Due: unit

chore(beads): sync issue tracker state
  .beads/issues.jsonl
Due: none

feat(rich_rust): comprehensive updates across console, rendering, and tests
  .beads/issues.jsonl
  src/bin/demo_showcase/dashboard_scene.rs
  src/console.rs
  src/interactive.rs
  src/live.rs
  src/renderables/group.rs
  src/sync.rs
  src/theme.rs
  tests/e2e_combined.rs
  tests/e2e_export.rs
  tests/e2e_interactive.rs
  tests/e2e_json_formatting.rs
  tests/e2e_markdown.rs
  tests/e2e_markdown_rendering.rs
  tests/e2e_mutex_poison.rs
  tests/e2e_syntax.rs
  tests/fuzz_markup_parser.rs
  tests/fuzz_style_parser.rs
  tests/mutex_poison_recovery.rs
  tests/property_tests.rs
  tests/terminal_detection_errors.rs
  tests/thread_safety.rs
Due: unit, integration

perf(rich_rust): update render benchmarks
  benches/render_bench.rs
Due: none

docs(rich_rust): update coverage documentation and sync issue tracker
  .beads/issues.jsonl
  COVERAGE.md
Due: none

docs(testing): add test naming standards enforcement and lint script
  .beads/issues.jsonl
  TESTING.md
  scripts/check_test_names.sh
  src/sync.rs
Due: unit

refactor: apply clippy lints and idiomatic Rust patterns
  src/console.rs
  src/renderables/traceback.rs
  src/sync.rs
  src/theme.rs
  tests/common/e2e_harness.rs
  tests/common/fake_terminal.rs
  tests/common/flaky.rs
  tests/common/platform.rs
  tests/common/validation.rs
  tests/e2e_interactive.rs
  tests/fuzz_markup_parser.rs
  tests/property_tests.rs
Due: unit, integration

fix(test): correct smoke_outro assertion to match actual output
  tests/demo_showcase_smoke.rs
Due: integration

chore: sync concurrent agent changes
  .beads/issues.jsonl
  src/renderables/emoji.rs
  tests/e2e_table.rs
Due: unit, integration

test(emoji): add unit tests for renderables/emoji.rs (bd-3llj)
  .beads/issues.jsonl
  src/renderables/emoji.rs
  src/renderables/syntax.rs
Due: unit

chore: sync beads (close bd-1bt2)
  .beads/issues.jsonl
Due: none

fix(inspect): properly handle nested structures in Inspect renderable (bd-1bt2)
  src/renderables/pretty.rs
Due: unit

chore: sync concurrent agent changes
  .beads/issues.jsonl
  src/bin/demo_showcase/layout_scene.rs
Due: unit

chore: sync concurrent agent changes
  .beads/issues.jsonl
  src/bin/demo_showcase/dashboard_scene.rs
  src/bin/demo_showcase/layout_scene.rs
Due: unit

chore: sync concurrent agent changes
  .beads/issues.jsonl
Due: none

fix(demo): preserve ANSI styling when centering on wide terminals
  src/bin/demo_showcase/hero.rs
  src/renderables/syntax.rs
Due: unit

fix(test): correctly handle end_capture return type in markdown test
  tests/e2e_markdown.rs
Due: integration

fix(snapshots): accept corrected snapshots with stripped markup
  tests/snapshots/demo_showcase_snapshots__dashboard_scene.snap
  tests/snapshots/demo_showcase_snapshots__debug_tools_scene.snap
Due: none

fix: resolve clippy pedantic warnings
  .beads/issues.jsonl
  src/segment.rs
  src/style.rs
  src/sync.rs
Due: unit

Fix time::Month formatting for time 0.3
  src/console.rs
Due: unit

docs: update Traceback feature status to Implemented with capture API documentation
  README.md
  RICH_SPEC.md
Due: none

Improve parity: Live stdio redirect, emoji toggle, tracebacks
  .beads/issues.jsonl
  Cargo.lock
  Cargo.toml
  FEATURE_PARITY.md
  README.md
  RICH_SPEC.md
  docs/MIGRATION.md
  src/bin/demo_showcase/emoji_links_scene.rs
  src/bin/demo_showcase/scenes.rs
  src/bin/demo_showcase/traceback_scene.rs
  src/box.rs
  src/console.rs
  src/interactive.rs
  src/live.rs
  src/logging.rs
  src/renderables/emoji.rs
  src/renderables/mod.rs
  src/renderables/panel.rs
  src/renderables/pretty.rs
  src/renderables/syntax.rs
  src/renderables/table.rs
  src/renderables/traceback.rs
  tests/conformance/fixtures/python_rich.json
  tests/conformance/progress_tests.rs
  tests/conformance/python_reference/generate_fixtures.py
  tests/conformance/python_reference/traceback_fixture.py
  tests/conformance_python.rs
  tests/demo_showcase_e2e.rs
  tests/e2e_markdown.rs
Due: unit, integration

chore(beads): update issue tracker — new Markdown link parity issue, bd-3d1t in_progress
  .beads/issues.jsonl
Due: none

chore: standardize comment grammar to present tense across core modules
  src/cells.rs
  src/interactive.rs
  src/measure.rs
Due: unit

bd-2zpy bd-3d0j bd-2tch: parity fixes + conformance fixtures
  .beads/issues.jsonl
  Cargo.lock
  Cargo.toml
  FEATURE_PARITY.md
  src/bin/demo_showcase/json_scene.rs
  src/renderables/json.rs
  src/renderables/markdown.rs
  src/renderables/mod.rs
  src/renderables/snapshots/rich_rust__renderables__pretty__tests__pretty_wraps_to_width_and_is_stable.snap
  src/renderables/syntax.rs
  src/text.rs
  tests/conformance/fixtures/python_rich.json
  tests/conformance/python_reference/generate_fixtures.py
  tests/conformance_python.rs
  tests/e2e_json_formatting.rs
  tests/e2e_markdown.rs
  tests/e2e_markdown_rendering.rs
  tests/e2e_syntax.rs
Due: unit, integration

bd-3vwj: match Rich fenced code wrap+cropy under padding
  .beads/.gitignore
  .beads/issues.jsonl
  FEATURE_PARITY.md
  src/renderables/markdown.rs
  src/renderables/syntax.rs
  tests/conformance/fixtures/python_rich.json
  tests/conformance/python_reference/generate_fixtures.py
Due: unit, integration

feat(highlighter): add Python Rich highlighter parity module
  Cargo.toml
  src/highlighter.rs
  src/lib.rs
Due: unit

bd-3tjn: implement rich.highlighter parity
  Cargo.lock
  FEATURE_PARITY.md
  src/console.rs
  src/highlighter.rs
  tests/conformance/fixtures/python_rich.json
  tests/conformance/python_reference/generate_fixtures.py
  tests/e2e_export.rs
  tests/mutex_poison_recovery.rs
Due: unit, integration

refactor(highlighter): fix borrow split in apply_regex and clean up regex literals
  .beads/issues.jsonl
  src/highlighter.rs
Due: unit

chore(beads): sync issue tracker
  .beads/issues.jsonl
Due: none

bd-xamk: rich.protocol parity (rich_cast + measure)
  FEATURE_PARITY.md
  RICH_SPEC.md
  src/console.rs
  src/highlighter.rs
  src/lib.rs
  src/protocol.rs
  src/renderables/mod.rs
  tests/conformance/fixtures/python_rich.json
  tests/conformance/python_reference/generate_fixtures.py
  tests/conformance_python.rs
Due: unit, integration

Sync beads
  .beads/issues.jsonl
Due: none

bd-2kr0: implement rich.constrain Constrain renderable
  .beads/issues.jsonl
  FEATURE_PARITY.md
  src/lib.rs
  src/renderables/constrain.rs
  src/renderables/mod.rs
  tests/conformance/fixtures/python_rich.json
  tests/conformance/python_reference/generate_fixtures.py
  tests/conformance_python.rs
Due: unit, integration

bd-1qt8: ANSI decode parity (Text::from_ansi + AnsiDecoder)
  FEATURE_PARITY.md
  src/ansi.rs
  src/lib.rs
  src/live.rs
  src/text.rs
  tests/conformance/fixtures/python_rich.json
  tests/conformance/live_tests.rs
  tests/conformance/python_reference/generate_fixtures.py
  tests/conformance_python.rs
  tests/e2e_live.rs
Due: unit, integration

fix(console): correct cursor positioning to match Python Rich's 0-based API
  src/console.rs
Due: unit

Path conditions:
  unit: any of: src/, but not: **/*.snap, tests/common/**, benches/**, examples/**
  integration: any of: tests/, but not: **/*.snap, tests/common/**, benches/**, examples/**
